## **Encoding**

**Import Dataset-**

In [93]:
import seaborn as sns
df=sns.load_dataset('titanic')
import numpy as np

Top 10 columns

In [ ]:
df.head(10)

Information

In [ ]:
df.info()

So, I am considering categorical features and will try to find out the top important features. Creating a data frame for categorical features. We need to compare all the categories with the output category (Survived).

In [96]:
##['sex','embarked','alone','pclass','Survived']
df=df[['sex','embarked','alone','pclass','survived']]
df.head()

      sex embarked  alone  pclass  survived
0    male        S  False       3         0
1  female        C  False       1         1
2  female        S   True       3         1
3  female        S  False       1         1
4    male        S   True       3         0

Let’s perform label encoding on the embarked

In [97]:
df['sex']=np.where(df['sex']=="male",1,0)
df.head()

   sex embarked  alone  pclass  survived
0    1        S  False       3         0
1    0        C  False       1         1
2    0        S   True       3         1
3    0        S  False       1         1
4    1        S   True       3         0

In [ ]:
#Let’s perform label encoding on the embarked

In [98]:
import numpy as np
### let's perform label encoding on embarked
ordinal_label = {k: i for i, k in enumerate(df['embarked'].unique(), 0)}
df['embarked'] = df['embarked'].map(ordinal_label)

In [99]:
df.head()

   sex  embarked  alone  pclass  survived
0    1         0  False       3         0
1    0         1  False       1         1
2    0         0   True       3         1
3    0         0  False       1         1
4    1         0   True       3         0

In [100]:
#Performing label encoding on alone
## let's perform label encoding on alone
df['alone']=np.where(df['alone']==True,1,0)

In [ ]:
df.head()

Train Test split

In [102]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(df[['sex','embarked','alone','pclass']],
                                              df['survived'],test_size=0.3,random_state=100)

Check unique values for the sex column

In [103]:
X_train['sex'].unique()

array([1, 0])

Check null values

In [104]:
X_train.isnull().sum()

sex         0
embarked    0
alone       0
pclass      0
dtype: int64