<a href="https://colab.research.google.com/github/hussain0048/Machine-Learning/blob/master/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#  **Pandas(Beginer Level)**

##1-**Installing Pandas**

In [ ]:
conda install pandas

In [ ]:
!pip install pandas

## **2-Importing**

In [2]:
import pandas as pd
import numpy as np

## **3- Pandas Data Structures**

### **3.1- Series**

In [ ]:
newSeries = pd.Series(data , index)

**Let’s build a series from Python List:**

In [3]:
mylist = ['Ahmad','Machine Learning', 20, 'Pakistan']
labels = ['Name', 'Career', 'Age', 'Country']
newSeries = pd.Series(mylist,labels)
print(newSeries)

Name                  Ahmad
Career     Machine Learning
Age                      20
Country            Pakistan
dtype: object

It is not necessary to add an index in a pandas Series. In that case, it will automatically start index from 0.

In [ ]:
mylist = ['Ahmad','Machine Learning', 20, 'Pakistan']
newSeries = pd.Series(mylist)
print(newSeries)

**Create a Series using a Python Dictionary**

In [5]:
myDict = {'Name': 'Ahmad',
         'Career': 'Machine Learning',
         'Age': 20,
          'Country': 'Pakistan'}
mySeries = pd.Series(myDict)
print(mySeries)

Name                  Ahmad
Career     Machine Learning
Age                      20
Country            Pakistan
dtype: object

**Accessing data from Series**

In [ ]:
seriesName['IndexName']

In [ ]:
print(mySeries['Name'])
print(mySeries['Age'])
print(mySeries['Career'])

**Basic Operations on Pandas Series**

In [ ]:
newSeries = pd.Series([10,20,30,40],index=['LONDON','NEWYORK','Washington','Manchester'])
newSeries1 = pd.Series([10,20,35,46],index=['LONDON','NEWYORK','Istanbul','Karachi'])
print(newSeries,newSeries1,sep='\n\n')

Basic Arithmetic operations include +-*/ operations. These are done over-index, so let’s perform them.

In [8]:
newSeries + newSeries1

Istanbul       NaN
Karachi        NaN
LONDON        20.0
Manchester     NaN
NEWYORK       40.0
Washington     NaN
dtype: float64

Here we can see that since London and NEWYORK index are present in both Series, so it has added the value of both and output of rest is NaN (Not a number)

In [ ]:
newSeries * newSeries1

In [ ]:
newSeries / newSeries1

**Element Wise Operations/Broadcasting**

In [11]:
newSeries + 5

LONDON        15
NEWYORK       25
Washington    35
Manchester    45
dtype: int64

In [ ]:
newSeries ** 1/2

### 3.2-**DataFrame**

**Main ways to create Data Frame are**

Python Dictionary

In [13]:
df1 = {"Name":["Ahmad","Ali",'Ismail',"John"],"Age":  [20,21,19,17],"Height":[5.1,5.6,6.1,5.7]}

In [17]:
df1 = pd.DataFrame(df1)
df1

     Name  Age  Height
0   Ahmad   20     5.1
1     Ali   21     5.6
2  Ismail   19     6.1
3    John   17     5.7

Getting Values from a Column

In [ ]:
df1['Age']
#df1.columnname

Both of these syntaxes are correct, but we have to be careful about choosing one. If our column name has space in it, then definitely we can not use the 2nd method. We have to use the first method. We can only use the 2nd method when there is no space in the column name.

In [ ]:
df1.Name

Values of Multiple Columns

In [ ]:
df1[["Name","Age"]]

## **4-Important functions of Dataframe in Pandas**